
body {
	margin: 0;
	padding: 0;
	padding-bottom:50px;
	font-family:'Microsoft Yahei',"simsun";
	font-weight:normal;
	position: relative;


}
ul, li{

list-style: outside none none;
padding: 0;
}


a {
    font-style: normal;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 400;
    font-size: medium;
}

em {
    color: #c00;
    font-style: normal;
    font-weight:normal;
}

strong {
    color: #c00;
    font-style: normal;
    font-weight:normal;
}

a em {
    text-decoration: underline;
}
cite {
    color: green;
    font-style: normal;
}
.m, a.m {
    color: #666;
}
a.m:visited {
    color: #606;
}

img {
    max-height: 220px;
    max-width: 220px;
}
#head .headBlock {
        height: 55px;
    padding: 0 0 0 10px;

}

.gover_search {
background: #fff  none repeat scroll 0 0;
width: 100%;
font-size: 20px;
	position: fixed;
	left: 0;
  	top: 0px;
	z-index: 99;
	padding: 15px 0 0 20px;
	border-bottom: 0;
	background-color: white;
	word-wrap: break-word;
    word-break: break-word;
}

.searchResult{
width: 538px;

}
.maincontent{
line-height: 1.54;
padding-left: 121px;
padding-top: 62px;
width: 540px;
float: left;
word-wrap: break-word;
font-family: arial;

}
.maincontent a{
font-size:16px;
}

.maincontent .urlinfo{
font-size:13px;
}


.shoppingContent{
line-height: 1.54;
padding-left: 10px;
padding-top: 5px;
width: 760 px;
float: left;
word-wrap: break-word;
font-family: arial;

}
.gover_search_form {

	height: 36px;
}

.gover_search .search_t {
	float: left;
	line-height: 26px;
	color: #666;
}
.gover_search .searchType {
	background: #fff  none repeat scroll 0 0;

}



.gover_search .input_search_key {
   background: #fff  none repeat scroll 0 0;
    font-size: 16px/22px arial;
    height: 32px;
    width:526px;
    margin: 6px 0 0 7px;
    outline: 0 none;
    padding: 0;
    border-color: #b8b8b8 transparent #ccc #b8b8b8;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
}

.gover_search .search_btn {
   background-color: #ddd;
    background-position: 0 -48px;
    border: 0 none;
    cursor: pointer;
    font-size: 14px;
    height: 32px;
    padding: 0;
    width: 95px;
    }

.gover_search .search_suggest {
	z-index: 999;
	left: 132px;/*这个应该看图大小*/
	display: none;

}
.gover_search .search_suggest ul{
    width: 526px;
	z-index: 999;
	border: 1px solid #ccc;
	border-top: none;
	color: #004080;
	position:absolute;
	margin:0px
}

.gover_search .search_suggest li {
 width: 526px;
	height: 24px;
	overflow: hidden;
	padding-left: 3px;
	line-height: 24px;
	background: #fff;
	cursor: default;
}

.gover_search .search_suggest li.hover {
	background: #ddd;
}

.num_right {
	float: right;
	text-align: right;
	line-height: 24px;
	padding-right: 10px
}
button.submit{
margin:0px
}

#pagenum{
padding:0px;
margin-left:10px;
margin-top:60px;
margin-bottom:40px;
min-height: 60px;/*浮动元素撑不开，要自己设置*/}

#pagenum .pc {
float: left; /*span向左浮动*/
 border: 1px solid #e1e2e3;
    cursor: pointer;
    height: 34px;
    width: 34px;
    font-size: 14px;
    display: block;/*这个必须加*/
}
#pagenum .pc_next {

float: left; /*span向左浮动*/
 border: 1px solid #e1e2e3;
    cursor: pointer;
    height: 34px;
    font-size: 14px;
    display: block;/*这个必须加*/
}

#pagenum  a{

    text-align: center;
    text-decoration: none;
        line-height: 34px;

}

.input_search_key{
    width: 526px;
    height: 22px;
    font: 16px/18px arial;
    line-height: 22px;
    margin: 6px 0 0 7px;
    padding: 0;
    background: transparent;
border-style: solid none solid solid;
    border-width: 1px 0 1px 1px;
    border-color: #b8b8b8;
}

.search_btn{
    width: 100px;
    height: 36px;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    background: #3385ff;
    border-bottom: 1px solid #2d78f4;
    outline: medium;

}

.item {
width:230px;
height:350px;
float:left;
text-decoration: none;
font-size:12px;
margin:20px;

}

.item_title{
overflow:hidden;
text-overflow:ellipsis;
display:-webkit-box;
-webkit-box-orient:vertical;
/*-webkit-line-clamp:3;/*这个只对chrome有效*/
}

.item img{
width:220px;
height:220px
}
.item_title a{ /*为了方便复制 需要改成不可拖拽*/
user-drag:none
-webkit-user-drag:none;
}
.clear{ clear:both}

.footer {
 width: 100%;
    bottom: 0;
    display: block;
    height: 30px;
   position:relative;
    text-align: center;

    background-color:#fff;
    color: #000;
}

.footer a{
	color: #000;
}