<!DOCTYPE html>
<html>
<head>
	<meta charset=" utf-8">
	<meta name="author" content="http://www.softwhy.com/" />
	{% include 'title.html' %}
	<link href="static/base.css" rel="stylesheet">
	<style>

/*以后要做的是：左右分割 多余折叠 字体修正 我至少要看的懂百度的效果*/

</style>


</head>
<body>
<div id="head"><div class="headBlock"></div>
</div>

<input id="sites" name="sites" type="hidden" value="'"/>

<div class="gover_search">
	<a href="/" style=" display: block;">
		<img id="s_lg_img" width="98" height="32" src="static/logo.png">
	</a>
	<div class="gover_search_form clearfix">
		<!--<span class="search_t">一键搜索</span>这里需要的是图--> <input type="text"
																class="input_search_key" id="gover_search_key"
																placeholder="请输入关键词直接搜索" />
		<button type="submit" class="search_btn" id="search_btn" onclick="doSearchByInput()">搜索</button>
		<div class="search_suggest" id="gov_search_suggest">
			<ul >
			</ul>
		</div>

		<div class="searchType"> <label><input name="searchType" type="radio" value="0" id="radio0"/>百度+必应 </label>
			<label><input name="searchType" type="radio" value="2" id="radio2" />google </label>
			<label><input name="searchType" type="radio" value="5" id="radio5"/>github </label>
			<label><input name="searchType" type="radio" value="1" id="radio1"/>淘宝+京东+亚马逊 </label>
		</div>
		<div style="clear:both"></div>
	</div>
	<div style="clear:both"></div>
</div>
<div class="mainbody">
	{% block mainbody %}
	<p>original</p>
	{% endblock %}
	<div style="clear:both"></div>

</div>
{% include 'foot.html' %}
</body>
</html>