{% extends "base.html" %}
 
{% block mainbody %}

<div class="maincontent">
<ul>
{% for urlinfo in urlinfos %}
    <li><h3><a href="{{ urlinfo.url }}">{{ urlinfo.title }}</a></h3></li>
    <div> {{ urlinfo.info|safe }}</div>
    {% if urlinfo.imglink %}
    <img src="{{urlinfo.imglink}}">
    {% endif %}
{% endfor %}
</ul>

<div>
    <br/>
<div class="pagenum">

     {% for i in pagenums %}
    <a href="searchResult?kw={{ request.GET.kw}}&page={{i}}&type={{type}}">

        <span class="pc"> {{ i }}</span>
       </a>

       {% endfor %}



</div>

{% endblock %}



