<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title>一键搜索网</title>



</head>
<body>
<div class="searchResult">
    <ul>
        {% for urlinfo in urlinfos %}
        <li><h3><a href="{{ urlinfo.url }}">{{ urlinfo.title }}</a></h3>
            <div> {{ urlinfo.info }}</div></li>

        {% endfor %}
    </ul>
</div>
<div>

    {% for i in pagenums %}
    <a href="searchResult?kw={{ request.GET.kw}}&page={{i}}">{{ i }}</a>

    {% endfor %}



</div>
</body>
</html>